<div class="home-login">
  <div class="logo-bottom-rev">
    <%= image_tag "logo-bottom-rev.png" %>
  </div>
  <a id="main-content"></a>
  <div class="title-wrapp">
    <h1 class="page-header"><%= t "login" %></h1>
  </div>
  <div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">
      <div class="block-wrapp">
        <%= form_for(:session) do |f| %>
          <table class="table-width100">
            <tr>
              <td>
                <%= f.label :username %>
              </td>
              <td>
                <%= f.text_field :username, id: "edit-name" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :Password %>
              </td>
              <td>
                <%= f.password_field :password, id: "edit-pass" %>
              </td>
            </tr>
          </table>
        <%= f.submit t("login"), class: "btn btn-default form-submit" %>
        <% end %>
      </div>
    </section>
  </div>
  <div class="nextright-Arrival moveright"></div>
</div>
