<%= stylesheet_link_tag "rating" %>
<script language="javascript" type="text/javascript">
        function OpenPopupCenter(pageURL, title, w, h) {
            var left = (screen.width - w) / 2;
            var top = (screen.height - h) / 4;
            var targetWin = window.open(pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        }
    </script>
<div class="home-slider-book">
  <div class="logo-bottom-rev"><%= image_tag "logo-bottom-rev.png" %></div>
</div>
<div class="content">
  <div class="content_shelves">
    <div class="sidebar "></div>
    <div class="main">
      <table width="600px">
        <tr>
          <td width="200px"><%= image_tag @book.picture, class: "image-detail" %></td>
          <td valign="top"><center><%= @book.title.upcase %></center>
          <p><%= @book.description %></p>
          </td>
        </tr>
        <tr>
          <td width="200px">
            <fieldset class="rating">
              <%= raw @render_rating %>
            </fieldset>
          </td>
          <td></td>
        </tr>
        <tr>
          <td width="200px">
            <table style="width:100%">
              <tr>
                <td width="50">Số lượng</td>
                <td align="left"><%= @number_book %></td>
                <td align="right"></td>
              </tr>
            </table>
          </td>
          <td></td>
        </tr>

        <tr>
          <td width="200px">
            <table style="width:100%">
              <tr>
                <td width="35"><%= raw @render_like %></td>
                <td align="left"><p id ="count_like"><%= raw @render_count_like %></p></td>
                <td align="right">
                  <img style="cursor: pointer;" src="/assets/shopping-icon.png" onclick="OpenPopupCenter('<%= carts_path %>'+'/<%=@book.id%>', 'TEST!', 800, 600);"></img></td>
              </tr>
            </table>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="clear"></div>
  </div>
</div>
<center>
<div style="width: 600px;">
<div style="width: 100%;" id="comment_all">
  <%= raw @render_comment  %>
</div>
  <table style="width:100%;">
    <tr>
      <td>
        <textarea id="text_comment" style="width: 100%; height: 50px;" rows="1" value="">          
        </textarea>
      </td>
      <td width="70px" align="left"><center><button id ="abc" name="<%= @book.id %>" onclick="do_comment(this)">Send</button></center></td>
    </tr>
  </table>
</div>
</center>

