<div class="footer">		
  <div class="column_1">
	<p><img src="/assets/logo_wht.png" class="img1" /></p>
	<p class="copyright left_padding"><strong>&copy;</strong> 2017<br /><%= t "title" %><br /><%= t "all_rights" %></p>
  </div>		
  <div class="column_2">
	<p>
	  <strong><%= t "contact" %></strong><br />
	  <%= t "title" %><br />
	  <%= t "address" %><br />
	  <%= t "city" %>
	</p>
	<p><strong><%= t "tel" %></strong> <a>(0511) 3666 000</a><br />
	<strong><%= t "toll_free" %></strong> <a>(0511) 3666 000</a><br />
	<strong><%= t "email" %></strong> <a><%= t "email_address" %></a></p>
  </div>		
  <div class="column_3">	
	<p>
	  <strong><%= t "online_customer_service" %></strong>
	  <br />
	  <a><%= t "borrow_book_online" %></a>
	  <br />
	  <a><%= t "online_returns" %></a>
	  <br />
	  <a><%= t "privacy_policy" %></a>
	</p>
	<p class="social_icons">
	<a><img src="/assets/icon_facebook.png" class="img-icon" /></a>
	<a><img src="/assets/icon_twitter.png" class="img-icon" /></a>
	<a><img src="/assets/icon_instagram.png" class="img-icon" /></a>
	<a><img src="/assets/icon_eventbrite.png" class="img-icon" /></a>
	<a><img src="/assets/icon_youtube.png" class="img-icon" /></a>
	</p>
  </div>		
  <div class="column_4">
	<strong><%= t "books" %></strong>
	<ul>				
	  <li><a><%= t "browse_our_shelves" %></a></li>			
	  <li><a><%= t "new_arrivals" %></a></li>				
	  <li><a><%= t "best_bellers" %></a></li>				
	</ul>
	<strong><%= t "recommendations" %></strong>
	<ul>
	  <li><a><%= t "top_rating" %></a></li>
	  <li><a><%= t "top_100" %></a></li>
	</ul>
  </div>		
  <div class="column_5">
	<strong><%= t "events" %></strong>
	<ul>
	  <li><a><%= t "upcoming_events" %></a></li>
	  <li><a><%= t "ticketed_events" %></a></li>
	</ul>
	<strong><%= t "more" %></strong>
	  <ul class="no_bottom_padding">
		<li><a><%= t "about" %></a></li>
		<li><a><%= t "clubs_services" %></a></li>
	  </ul>
  </div>		
  <div class="clear"></div>		
</div>
