<form>
  <div class="header">
    <div class="search">
      <ul class="header_buttons">
        <li class="search_form">
          <table class="table-boder">
            <tr>
              <td>
                <div class="search_input_div">
                  <input type="text" name="keywords" class="search_input"
                    id="keywords" />
                </div>
              </td>
              <td>
                <input type="image" class="search_button"
                  src="/assets/search_button.gif"/>
              </td>
            </tr>
          </table>
        </li>
        <li>
          <%= link_to t("advanced"), "javascript:void();",
            class: "advanced_button",
            onclick: "$('#advanced_search').slideToggle();" %>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="header_right">
      <ul class="header_buttons">
        <% if logged_in? %>
          <li><%= link_to t("home"), root_path, class: "cart_button" %></li>
          <li><%= link_to t("books"), books_path, class: "cart_button" %>
          </li>
          <li><a class="cart_button"><%= t "book_cart" %></a></li>
          <li><%= link_to t("log_out"), logout_path, method: "delete",
            class: "cart_button" %></li>
        <% else %>
          <li><%= link_to t("login"), login_path, class: "cart_button" %></li>
          <li>
            <%= link_to t("signup"), signup_path, class: "cart_button" %>
          </li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div id="advanced_search">
    <div class="wrapper">
      <div class="advanced_divider advanced_divider_first">
        <h2><%= t "advanced" %><br /><%= t "search" %></h2>
      </div>
      <div class="advanced_divider">
        <label for="search_in"><%= t "search_in" %></label>
        <select id="search_in" name="search_in"
          onchange="toggle_advanced_fields();">
          <option value="booksite"><%= t "all_books" %></option>
        </select>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</form>
<div class="wrapper" id="div-width">
  <div id="navbar">
    <div class="div-boder">
      <ul id="nav">
        <%= raw render_html_menu %>
      </ul>
    </div>
    <div class="logo" >
      <a>
        <%= image_tag "logo_top.png", class: "div-boder" %>
      </a>
    </div>
    <div class="clear"></div>
  </div>
</div>
